=render 'shared/flash'
#body
	.row
		%h1 Игра "Киллер"
		%h2 ФАЛТ МФТИ

		%p
			Правила, которые мы, как организаторы, не сможем проконтролировать, но которые вам, как участникам, хорошо бы соблюсти для сохранения баланса игры и поддержания интриги. Часть из них носит скорее рекомендационный характер.
			Большинство правил регулируются отношениями убийца-жертва. Остальные правила остаются на совести и желании интересной игры самих игроков.
		%ol
			%li Ваша жертва - игрок, имя которого указано на карточке. Убийство жертвы должно происходить в изолированном от посторонних глаз помещении. Если убийство происходит на улице, расстояние до ближайших людей должно быть не менее 150 метров.
			%li Смерть жертвы наступает сразу после того, как убийца дотронулся до нее, показал карточку с ее именем ипроизнес "Ты убит(а)". После этого жертва отдает все имеющиеся у нее на руках карточки убийце и сообщает ему, какие карточки относятся к "живым", а какие к "мертвым" игрокам. На карточке с именем жертвы ставится соответствующая пометка.
			%li Убитый игрок, а также его убийца сообщают организаторам в личном сообщении Вконтакте об убийстве. Убитый игрок выбывает из игры и получает возможность влиять всеми доступными ему методами на ход игры, которые не противоречат данным правилам.
			%li Никто не может показывать другому человеку карточки, которые находятся у него. Все остальное разрешено. Говорите, что уже умерли, что не играете вообще, клянитесь своему соседу, что он - не ваша цель. Все ради победы!
			%li Убитые игроки вольны сами выбирать - разглашать или нет информацию о факте своей смерти.
			%li
				Разрешение спорных ситуаций:
				%ol
					%li если убийца попытался убить жертву в присутствии посторонних лиц (вне зависимости от того, участвуют они в игре или нет), жертва "выживает", а убийца раскрывает свою личность перед жертвой.
					%li Кабинки туалетов и душевые кабинки объявляются мирными зонами - убийство в них невозможно
					%li Спящие люди не считаются посторонними. Специально будить спящих людей ради убийства запрещено (мы ж не изверги!) как убийце, так и его сообщникам.
					%li Убить уже мертвого игрока нельзя
					%li Карточку с именем жертвы убийца может показать после слов "Ты убит(а)" . Это значит, что  не обязательно иметь с собой карточку при убийстве.
					%li Люди, с которыми вы общаетесь через электронные средства связи (skype, chatroulette и т.п.), не считаются свидетелями
					%li Убийство не оспаривается, если жертва отдал карточку киллеру. Если вы считаете, что вы не были убиты - обращайтесь к организатору, и только после его решения предпринимайте какие-либо действия. Это относится, например, к спорным свидетелям и т.п.
					%li Брать жертву в руки и насильно уносить в изолированное место запрещено. Пользуемся мозгом, а не физической силой.
					%li Все остальные спорные ситуации решаются с Организатором

			%li Игрок объявляется победителем, если он заполучил карточку с собсвтвенным именем ИЛИ собрал все карточки игры ИЛИ на момент объявления организаторами конца игры у него на руках наибольшее количество карточек
			%li Любое грубое нарушение - минус к карме + дисквалификация.




