.row
	%h2 Правила игры
	%ul
		%li
			Игра организуется на принципах честной игры, которые игроки должны соблюдать,
			подразумевая под этим умышленно не мешать и не помогать соперникам, соблюдать правила, описанные ниже.
		%li
			Цель – собрать как можно больше жертв.
	%h2 Первый этап игры
	%ul
		%li 16 ноября стартует первый этап игры.
		%li
			Суть игры заключается в охоте за жертвой. Каждый участник является и охотником, и жертвой
		%li
			Игра начинается для всех одновременно: участник получает информацию своей жертвы (ФИО; фото,
			которое можно будет найти в альбоме). В то же время, кто-то получает информацию на этого охотника…
		%li
			Жертва считается убитой, если охотник поздравил свою жертву с праздником,
			сказав фразу "С Днем Рождения Физтеха!", находясь в закрытом помещении один на один, или на улице, где в радиусе 15 метров никого нет. Нельзя убивать при свидетелях - будь то участник игры или просто посторонний человек. Каждый участник обязан отдать охотнику свой код в случае состоявшегося убийства.
		%li
			После того, как Вы кого-то поздравили, Вы должны зайти в личный кабинет,
			ввести полученный код. После этого узнаете свою следующую цель.
		%li
			За собранные браслеты будут поощрения.

	%h2 Второй этап игры
	%ul
		%li
			22 ноября состоится второе организационное собрание. Новые люди смогут вступить в игру наравне с уже участвующими.
			Убитые также могут попытать счастья еще раз.
			Те, кто до собрания совершат хотя бы одно убийство, получат +3 убийства себе в рейтинг. (Убитые, вступившие в игру заново начинают с нулевого рейтинга).
	%h2 Дополнительный конкурс
	%ul
		%li
			Отдельно проводится конкурс на самое креативное убийство. Провернули что-то необычное? Напишите нам! Фото или
			видео
			отчет приветствуется! Возможно, именно Вам достанется специальный приз!

	%h2 Общая информация
	%ul
		%li В группе игры ВК Вы сможете в реальном времени следить за количеством человек в игре и их успехами.
		%li Свои вопросы можете писать в группе ВК или звонить.
		%li Будьте начеку! Ведь вы тоже чья-то жертва!
		%li Игра продолжается до 28 числа (включительно).
		%li 29 числа будут объявлены победители и вручены подарки!
